@charset "utf-8";
/* CSS Document */
body
{
margin:0;
padding:0;
}
#container
{
margin:0 auto;
padding:0;
height:7000px;
width:1350px;
}
#header
{
background-color:#FFFFFF;
padding:0;
margin:0;
height:100px;
width:1350;


}