#header
{
background-color: black;
}
#t1
{
color: white;
    font-size: 17px;
}
#menu
{
    margin-left: 767px;
}
#one
{
width: 1350px;
height: 350px;
}
#three
{
background-color: antiquewhite;
}
#k
{
 margin-left: 336px;
 margin-top: -231px;

}
#l
{
    margin-left: 671px;
    margin-top: -231px;
}
#m
{
margin-left: 1002px;
    margin-top: -234px;
}
#four
{
background-color: aqua;
}
#b2
{margin-left: 340px;
    margin-top: -230px;
}
#b3
{
    margin-left: 669px;
    margin-top: -231px;
}
#b4
{
    margin-left: 1011px;
    margin-top: -232px;
}
#five
{
background-color: chocolate;
}
#d2
{
    margin-left: 333px;
    margin-top: -232px;
}
#d3
{
margin-left: 665px;
    margin-top: -231px;
}
#d4
{
margin-left: 1001px;
    margin-top: -231px;
}
#two
{
background-color: darksalmon;
}
#f2
{
margin-left: 302px;
    margin-top: -102px;
}
#f3
{
margin-left: 600px;
    margin-top: -107px;
}
#f4
{
margin-left: 838px;
    margin-top: -133px;
}
#footer
{
    background-color: gray;
    color: white;
}
#z2
{
float:right;
margin-top: -168px;
}
#z3
{
margin-left: 234px;
    margin-top: -154px;
}
#z4
{
margin-left: 488px;
    margin-top: -114px;
}